[submodule "jwt-login-api"]
	path = jwt-login-api
	url = git@github.com:butter-bulldog/jwt-login-api.git
[submodule "jwt-login-front"]
	path = jwt-login-front
	url = git@github.com:butter-bulldog/jwt-login-front.git
